{% extends "base.html" %}{% load static %} {% block title %}About Us - Naadvenu{% endblock title %} {% block page_content %}
<div class="about-container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'images/dummy-540X400.png' %}" alt="" class="img">
        </div>
        <div class="col-lg-6" style="text-align: left;">
            <h1 style="padding-left:0; margin-bottom: 0;">
                <span class="text-white">Naadvenu</span></h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, in corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo quae possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Repudiandae, in corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Ex explicabo quae possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam.Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Repudiandae, in corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex explicabo quae possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, in
                corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo quae
                possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam.</p>
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
</div>

<div class="blank joinus-container" style="display: flex; justify-content: center;  align-items: center; gap:20px">
    <h3 class="my-3">Extend Your Hand: Join Our Community and Share Your Passion!</h1>
        <a href="{% url 'register' %}" class="btn btn-primary animatedBtn m-2">Register</a>
        <!-- <div class="cards">
        <article class="information [ card ]">
            <h2 class="title">Founded on</h2>
            <p class="info">Always keep updated with this simple tool on the go, when and where ever you need.</p>
            <dl class="details">
                <div>
                    <dd>4th June, 2018</dd>
                </div>
            </dl>
        </article>
        <article class="information [ card ]">
            <h2 class="title">Disciple Count</h2>
            <p class="info">Always keep updated with this simple tool on the go, when and where ever you need.</p>
            <dl class="details">
                <div>
                    <dd>1000</dd>
                </div>
            </dl>
        </article>
        <article class="information [ card ]">
            <h2 class="title">Show Performed</h2>
            <p class="info">Always keep updated with this simple tool on the go, when and where ever you need.</p>
            <dl class="details">
                <div>
                    <dd>200</dd>
                </div>
            </dl>
        </article>
    </div> -->
</div>

<div class="about-container ">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'images/dummy-540X400.png' %}" alt="" class="img">
        </div>
        <div class="col-lg-6" style="text-align: left;">
            <h1 style="padding-left:0; margin-bottom: 0;">
                <span class="text-white">Akash Suryawanshi</span></h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, in corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo quae possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam.</p>
            <button class="btn btn-primary">Explore</button>
        </div>

    </div>
    <hr>
    <!-- <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'images/dummy-540X400.png' %}" alt="" class="img">
        </div>
        <div class="col-lg-6" style="text-align: left;">
            <h1 style="padding-left:0; margin-bottom: 0;">
                <span class="text-white">Akash Suryawanshi</span></h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, in corporis quis suscipit optio officia, dignissimos est quisquam tenetur cum ipsa eligendi ab molestiae, perferendis harum eius voluptatem temporibus fugiat!Lorem Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo quae possimus earum doloribus, sed voluptas consequuntur ut voluptate consectetur cupiditate inventore at ducimus officiis non atque illo magnam quam.</p>
            <button class="btn btn-primary">Explore</button>
        </div>
    </div> -->
</div>

{% endblock page_content %}