{% extends "base.html" %}{% load static %} {% block title %}Contact Us - Naadvenu{% endblock title %}{% block page_content %}
<div class="contact-page">
    <div class="contact">
        <div class="title">
            <p>Get in Touch with Us for Musical Inquiries.
            </p>
        </div>
        <div class="row">
            {% for contact in contacts %}
            <div class="col-lg-4">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fa-solid fa-location-arrow"></i>
                    </div>
                    <span>{{ contact.address }}</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <a href="tel:+91{{ contact.phone_number }}">+91 {{ contact.phone_number }}</a> {% if contact.alt_number %}
                    <a href="tel:+91{{ contact.alt_number }}">+91 {{ contact.alt_number }}</a> {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="contact-text">
                    <p>
                        Connect with us for any inquiries related to music, events, or classes. We're here to assist you in every way we can.
                    </p>
                </div>
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input type="text" placeholder="Your/Organization Name" class="form-control" name="name" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input type="text" placeholder="E-Mail" class="form-control" />
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Your message" class="form-control"></textarea>
                        </div>
                        <div class="col-lg-12 ">
                            <button class="btn btn-primary animatedBtn" style="float:left;">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock page_content %}