{% extends "base.html" %}{% load static %}{% block title %}Naadvenu{% endblock title %} {% block page_content %}
<div class="hero banner">
    <div class="row justify-content-between align-items-center">
        <div class=" col-lg-6">
            <img src="{% static 'images/dummy-540X400.png' %}" alt="">
        </div>
        <div class="col-lg-6">
            <div class="hero-content">
                <h1><span class="text-danger">Flutiest <br> </span> Akash Suryawanshi</h1>
                <h3>Disciple of Surmani Vivek Sonar</h3>
                <!-- <p>lorem</p> -->
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}